<H3 align="center"><strong> Construcción y Fragmentación de Datagramas IPv4 </strong></H3>
<div class="row">
  <div class="col-4" style="background-color:rgb(255, 255, 255);"></div>
  <div class="col-4" style="background-color:lightcyan;">
    <form class="example-form" autocomplete="off" [formGroup]="reactiveForm">
      <mat-form-field class="example-full-width">
        <h6><strong>Unidad maxima de transferencia de red</strong></h6>
        <input matInput class="form-control" type="number" formControlName="mtu" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <h6><strong>Longitud total del Datagramaa</strong></h6>
        <input matInput class="form-control" type="number" formControlName="longitudTotal" />
      </mat-form-field>

      <br />

      <h6><strong>protocoloo</strong></h6>
      <mat-radio-group formControlName="protocolo" aria-label="protocoloo">
        <mat-radio-button value="ICMP" checked> ICMP</mat-radio-button>
        <br>
        <mat-radio-button value="TCP"> TCP </mat-radio-button>
        <br>
        <mat-radio-button value="UDP"> UDP</mat-radio-button>
      </mat-radio-group>

      <br />

      <mat-form-field class="example-full-width">
        <h6><strong>Direccion IP de origen</strong></h6>
        <input matInput class="form-control" type="text" formControlName="ipOrigen" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <h6><strong>Direccion IP de destino</strong></h6>
        <input matInput class="form-control" type="text" formControlName="ipDestino" />

      </mat-form-field>

      <br />

      <section>
        <div class="example-button-row" align="center">
          <button class="btn btn-success" role="button" (click)='fragmentar()'>
            Calcular
          </button>
          <br/>
          <br/>
          <button class="btn btn-info" role="button" (click)='generarAleatorio()'>
            Aleatorio
          </button>
        </div>
      </section>
    </form>
  </div>
  <br />
  <br />
  <h4 align="center"> ________________________________________</h4>
  <h3 align="center"><strong>Calculos</strong></h3>

  <br>
  <br>
  <div class="col-4"></div>
  <div class="col-4" style="background-color:lightcyan;">
    <h6  align="center"  *ngIf="datagrama.length > 0"><strong>
        Unidad maxima de transferencia de red: </strong><small>{{ mtu }} bytes</small>
    </h6>
    <h6  align="center"  *ngIf="datagrama.length > 0"><strong>
        Longitud total del Datagrama:</strong> <small>{{longitudTotal}} bytes</small>
    </h6>

    <mat-card *ngFor="let fragmento of datagrama; let i = index">
      <mat-card-title>
        <h3 align="center" style="color:darkturquoise"><strong>
          Fragmento &nbsp;{{fragmento.index }}</strong></h3>
      </mat-card-title>
      <mat-card-content>

        <ul>

          <li>
            <h6><strong>Versión:</strong> {{ fragmento.version }}</h6>
          </li>

          <li>
            <h6><strong>Longitud del encabezado:</strong> {{fragmento.longitudEncabezado}} bytes </h6>
          </li>

          <li>
            <h6><strong>Servicios diferenciados:</strong> {{ fragmento.serviciosDiferenciados }}</h6>
          </li>

          <li>
            <h6><strong>Longitud total:</strong> {{ fragmento.longitudTotal }} bytes</h6>
          </li>

          <li>
            <h6><strong>Identificación:</strong> {{ fragmento.identificacion }}</h6>
          </li>

          <li>
            <h6><strong>Flags:</strong> {{ fragmento.flags }}</h6>
          </li>

          <li>
            <h6><strong>Desplazamiento:</strong> {{ fragmento.desplazamineto }} bytes</h6>
          </li>

          <li>
            <h6><strong>Tiempo de vida:</strong> {{ fragmento.tiempoDeVida }}</h6>
          </li>

          <li>
            <h6><strong>protocoloo:</strong> {{ fragmento.protocolo }}</h6>
          </li>

          <li>
            <h6><strong>Suma de comprobación:</strong> {{ fragmento.sumaDeComprobacion }}</h6>
          </li>

          <li>
            <h6><strong>IP de origen:</strong> {{ fragmento.ipOrigen }}</h6>
          </li>

          <li>
            <h6><strong>IP de destino:</strong> {{ fragmento.ipDestino }}</h6>
          </li>

        </ul>
        <br>
        <hr>
        <br>
        <h5><strong>Encabezado en Binario:</strong></h5>
        <br />
        <strong>
          <p style="font-size: 18px;">{{ datagramaBinario[i][0] }}</p>
        </strong>
        <strong>
          <p style="font-size: 18px;">{{ datagramaBinario[i][1] }}</p>
        </strong>
        <strong>
          <p style="font-size: 18px;">{{ datagramaBinario[i][2] }}</p>
        </strong>
        <strong>
          <p style="font-size: 18px;">{{ datagramaBinario[i][3] }}</p>
        </strong>
        <strong>
          <p style="font-size: 18px;">{{ datagramaBinario[i][4] }}</p>
        </strong>

        <br>
        <hr>
        <br>

        <h5><strong>Encabezado en Hexadecimal:</strong></h5>
        <br />
        <h5>{{ datagramaHexadecimal[i].substring(0, 29) | uppercase }}</h5>
        <h5>{{ datagramaHexadecimal[i].substring(30) | uppercase }}</h5>
        <h3 style="color:darkturquoise">_______________________________</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>